.container {
    background-color: white;
}

a {
    outline: 0 !important;
}

/* Header */

.banner-links {
    background-color: #FFFFFF;
    height: 27px;
    padding-left: 5px;
    width: 198px;
    font-size: 13px
}

.banner-links a {font-size: 13px}

.amis-header {
    background-color: #FFFFFF;
    background-image: url("../img/banner/calder-Amis.jpg");  /* Change with the real path */
    background-repeat: no-repeat;
    background-position:right;
    height: 90px;
    position: relative;
}

.amis-tag {
    background-color: #FFFFFF;
    background-image: url("../img/banner/banner-tag.jpg");
    background-repeat: no-repeat;
    background-position:left;
    height: 90px;
    width: 270px;
}

/* Menu */

.navbar{
    margin-bottom: 0px;
    min-height: 30px;
    border: 0;
    border-radius: 0;
}

.amis-menu{
    background-color: #dd3118;
}

.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Open Sans Condensed",sans-serif !important;
    color: #FFFFFF;
    font-size: 14px;
}

.navbar-nav > li{
    position: relative;
}

.navbar-nav > li.active:before{
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #dd3118;
    position: absolute;
    margin-left: -10px;
    left: 50%;
    top: 100%;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #EEEEEE;
    text-decoration: none;
    color: #333;
}

.navbar-nav > li.active:hover:before, .navbar-nav > li:hover:before{
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #eeeeee;
    position: absolute;
    margin-left: -10px;
    left: 50%;
    top: 100%;
}




.amis-sidebar-title{
    border-bottom: 1px solid #2a5d9f;
}




.amis-bullet {
    padding-left: 11px;
}


.amis-log-btn {
    background-color: #2A5D9F;
    color: #ffffff;
}

/* Typography */

body {
    font-family: arial !important;
    color: #333;
    font-size: 15px;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    color: #2a5d9f;
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    color: #2a5d9f;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    color: #2a5d9f;
}

h4 {
    font-family: arial, sans-serif;
    font-size: 12px;
    color: #666666;
    font-weight: normal;
}


p {
    font-family: arial;
    color: #333;
}

.amis-bold-link{
    font-weight: bold;
    color: #2a5d9f;
    position: relative;
}

.amis-bold-link:hover{
    text-decoration: none;
}

.amis-bold-link::after{
    content:'';
    position: absolute;
    top:4px;
    right: -16px;
    width: 13px;
    height: 7px;
    background-image: url("../img/freccia-basso.png");
}


/*  Home charts  */



.home-chart-container{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 70px;
}

.central-chart::before{
    content:'';
    position: absolute;
    top:4px;
    left: 0px;
    width: 1px;
    height: 200px;
    background-color:#999999;
}

.central-chart::after{
    content:'';
    position: absolute;
    top:4px;
    right: 0px;
    width: 1px;
    height: 200px;
    background-color:#999999;
}


.amis-number-circle {
    display: inline-block;
    height: 16px;
    width: 16px;
    background-color: #2a5d9f;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    color: #FFFFFF;
    text-align: center;
}

.amis-homecharts-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    color: #2a5d9f;
    position: relative;
    top: 1px;
}

.amis-homecharts-description {
    margin-top: 5px;
}


.slider_container{
    background-color: #fafafa;
}


.ap-diagram-link{
    text-align: center;
    display: inline-block;
    width: 100%;
}

.ap-diagram-link img {
    margin: 20px 0;
}

#sidemenu .ap-diagram-link img {
    margin: 5px 0;
}


/*  Home Box */

.home-btn-box {
    background-color: #fafafa;
    border-right: 15px solid #FFFFFF;
    border-left: 15px solid #FFFFFF;
}


/* FOOTER */

.amis-footer {
    height: 50px;
    background-color: #173e7a;
    color: #FFFFFF;
}

.amis-footer-menu {
    padding-top: 18px;
    color: #FFFFFF;
    font-size: 12px;
}

.amis-footer-sides {
    background-color: #0b2957;
    height: 50px;
}

.amis-contact-us{
    margin-top: 14px;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    display: block;
}

.amis-contact-us:hover{
    color: #FFFFFF;
    text-decoration: none;
}

.feedback-system-icon{
    background-image: url(../img/amis-megaphone.png);
    cursor: pointer;
    padding: 1px 5px 3px 9px;
    background-position: 87px 3px;
    background-repeat: no-repeat;
    margin-top: 8px; margin-left: 27px;
}

.feedback-system-icon p {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    font-style: italic;
    font-size: 9px;
    margin-bottom: 0;
}


/* Override */

#bd0_submenu0_row_option, #bd1_submenu0_row_option, #bd2_submenu0_row_option, #bd3_submenu0_row_option, #bd4_submenu0_row_option, #bd5_submenu0_row_option{
    overflow: hidden;
}

#placeholder_container{
    padding-left: 0;
}


h4.modal-title{
    color: #dd3118;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;

}

/*------------------Vertical Align ---*/
.hf-va-holder {
    display: table;
    width: 100%;
    height: 100%;
}

.hf-va-child {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.hf-va-child-align-left {
    display: table-cell;
    text-align: left;
    vertical-align: middle;

}

.hf-va-child-align-right {
    display: table-cell;
    text-align: right;
    vertical-align: middle;

}


.ap-country-holder{
    width: 50%;
    height: 100%;
    position: relative;
    top: 0;
}


.ap-country-holder.second{
    left: 50%;
    top:0;
}

.modal-body{

    color: #2a5d9f;
// font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
}

.modal-body span{


}



/* Amis FOOTER as home */

div.footer {
    background: url("images/footer_bg.jpg") repeat-x scroll left bottom #fff;
    color: #fff;

    padding: 0 28px;
    height: 220px;
}
div.footer p.bodytext {
    float: left;
    height: 27px;
    line-height: 27px;
    margin: 0 22px 0 0;
}
div.footer p.bodytext a {
    color: #fff;
}
div.footer-home {
    background-color: #fff;
    margin-top: 25px;
}
div.copyright {
    clear: both;
    float: right;
}
div.copyright p.bodytext {
    margin: 0;
}
#csstabs {
    height: 170px;
    margin-left: -17px;
    position: relative;
    width: 10px;
}
#csstabs ul {
    padding-left: 0;
}
#csstabs p.bodytext {
    line-height: 18px;
    margin: 0;
    padding: 0 10px;
}
#csstabs h3 {
    height: 44px;
    margin: 0;
    padding: 5px;
    text-align: center;
}
.tabcontent {
    background-color: #fff;
    border: 0 none;
    margin-left: 18px;
    margin-top: 0;
    height: 130px;
    width: 940px;
    color: #000;
}
.tabcontent p.bodytext {
    color: #000;
}

#tab0 .tabcontent {

    left: 0;
    position: absolute;
    top: 80px;
    z-index: 2;
}
#tab0 .tabcontent p.bodytext {
    color: #fff;
}
#tab1 .tabcontent {

    left: 0;
    position: absolute;
    top: 80px;
    z-index: 1;
}
#tab1 h3 {
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
    z-index: 3;
}
#tab2 .tabcontent {

    left: 0;
    position: absolute;
    top: 80px;
    z-index: 1;
}
#tab2 h3 {
    left: 87px;
    position: absolute;
    top: 0;
    width: 60px;
}
#tab3 .tabcontent {

    left: 0;
    position: absolute;
    top: 80px;
    z-index: 1;
}
#tab3 h3 {
    left: 184px;
    position: absolute;
    top: 0;
    width: 60px;
}
#tab4 .tabcontent {

    left: 0;
    position: absolute;
    top: 80px;
    z-index: 1;
}
#tab4 h3 {
    left: 296px;
    position: absolute;
    top: 0;
    width: 60px;
}
#tab5 .tabcontent {

    left: 0;
    position: absolute;
    top: 80px;
    z-index: 1;
}
#tab5 h3 {
    left: 452px;
    position: absolute;
    top: 0;
    width: 60px;
}
#tab6 .tabcontent {

    left: 0;
    position: absolute;
    top: 80px;
    z-index: 1;
}
#tab6 h3 {
    left: 551px;
    position: absolute;
    top: 0;
    width: 60px;
}
#tab7 .tabcontent {
    height: 78px;
    left: 0;
    position: absolute;
    top: 80px;
    z-index: 1;
}
#tab7 h3 {
    left: 644px;
    position: absolute;
    top: 0;
    width: 60px;
}
#tab8 .tabcontent {

    left: 0;
    position: absolute;
    top: 80px;
    z-index: 1;
}
#tab8 h3 {
    left: 733px;
    position: absolute;
    top: 0;
    width: 60px;
}
#tab9 .tabcontent {

    left: 0;
    position: absolute;
    top: 80px;
    z-index: 1;
}
#tab9 h3 {
    left: 815px;
    position: absolute;
    top: 0;
    width: 60px;
}
#tab10 .tabcontent {

    left: 0;
    position: absolute;
    top: 80px;
    z-index: 1;
}
#tab10 h3 {
    left: 365px;
    position: absolute;
    top: 0;
    width: 60px;
}
#csstabs:hover h3, #csstabs:focus h3, #csstabs:active h3 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#tab1:hover h3, #tab1:focus h3, #tab1:active h3 {
    z-index: 4;
}
#tab1:hover .tabcontent, #tab1:focus .tabcontent, #tab1:active .tabcontent {
    background: none repeat scroll 0 0 #fff;
    z-index: 3;
}
#tab2:hover h3, #tab2:focus h3, #tab2:active h3 {
    z-index: 4;
}
#tab2:hover .tabcontent, #tab2:focus .tabcontent, #tab2:active .tabcontent {
    background: none repeat scroll 0 0 #fff;
    z-index: 3;
}
#tab3:hover h3, #tab3:focus h3, #tab3:active h3 {
    z-index: 4;
}
#tab3:hover .tabcontent, #tab3:focus .tabcontent, #tab3:active .tabcontent {
    background: none repeat scroll 0 0 #fff;
    z-index: 3;
}
#tab4:hover h3, #tab4:focus h3, #tab4:active h3 {
    z-index: 4;
}
#tab4:hover .tabcontent, #tab4:focus .tabcontent, #tab4:active .tabcontent {
    background: none repeat scroll 0 0 #fff;
    z-index: 3;
}
#tab5:hover h3, #tab5:focus h3, #tab5:active h3 {
    z-index: 4;
}
#tab5:hover .tabcontent, #tab5:focus .tabcontent, #tab5:active .tabcontent {
    background: none repeat scroll 0 0 #fff;
    z-index: 3;
}
#tab6:hover h3, #tab6:focus h3, #tab6:active h3 {
    z-index: 4;
}
#tab6:hover .tabcontent, #tab6:focus .tabcontent, #tab6:active .tabcontent {
    background: none repeat scroll 0 0 #fff;
    z-index: 3;
}
#tab7:hover h3, #tab7:focus h3, #tab7:active h3 {
    z-index: 4;
}
#tab7:hover .tabcontent, #tab7:focus .tabcontent, #tab7:active .tabcontent {
    background: none repeat scroll 0 0 #fff;
    z-index: 3;
}
#tab8:hover h3, #tab8:focus h3, #tab8:active h3 {
    z-index: 4;
}
#tab8:hover .tabcontent, #tab8:focus .tabcontent, #tab8:active .tabcontent {
    background: none repeat scroll 0 0 #fff;
    z-index: 3;
}
#tab9:hover h3, #tab9:focus h3, #tab9:active h3 {
    z-index: 4;
}
#tab9:hover .tabcontent, #tab9:focus .tabcontent, #tab9:active .tabcontent {
    background: none repeat scroll 0 0 #fff;
    z-index: 3;
}
#tab10:hover h3, #tab10:focus h3, #tab10:active h3 {
    z-index: 4;
}
#tab10:hover .tabcontent, #tab10:focus .tabcontent, #tab10:active .tabcontent {
    background: none repeat scroll 0 0 #fff;
    z-index: 3;
}


/* Amis Tab buttons */

.btn_policy_highstock_tab, .btn_policy_highstock_tab_active {
    /*Reset's every elements apperance*/
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    margin: 0;
    padding: 10px 15px;
    text-decoration: none;

    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    line-height: 1.42857;
    margin-right: 2px;
    background-color: white;
    border-color: #dddddd;

}

.btn_policy_highstock_tab_active {
    /*Reset's every elements apperance*/
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    margin: 0;
    padding: 10px 15px;
    text-decoration: none;
    color:  white;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    line-height: 1.42857;
    margin-right: 2px;
    background-color: #2a5d9f;
    border-color: #dddddd;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

#metadataEditorContainer{
    font-size: 12px;
}

/*Upload File Table*/
.jqx-upload-file-add{
    background-image:  url(../img/plusBlue.png);
}

.jqx-upload-file-remove{
    background-image:  url(../img/minusBlue.png);
}

label.control-label{
    color: #2a5d9f;
    font-family: "Open Sans Condensed",sans-serif;
    font-size: 14px;
}

.well .well label.control-label{
    color: #666666;
    font-family: "arial";
    font-size: 12px;
}

#searchEditPolicy .well{
    background: transparent !important;
}
